/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#login_form{
	width: 320px;
	margin: 100px auto;
}

footer{
	text-align: center;
	display: table;
}
footer .container{
	display: table-cell;
	vertical-align: middle;
}
footer > div span{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
footer > div .icon{
	font-size: 24px;
}


/*___________________________________________________
 |
 |						GENERAL ELEMENTS
 |___________________________________________________*/
.select{
	width: 10px;
}


/*___________________________________________________
 |
 |						ICONS
 |___________________________________________________*/
.fa{
	font-size: 16px;
}


/*___________________________________________________
 |
 |					TABLE STYLE
 |___________________________________________________*/
.name{
	width: 150px;
}
.dispo{
	width: 100px;
	text-align: center;
}
.actions{
	width: 60px;
	text-align: right;
}
.edit, .delete{
	width: 10px;
	text-align: right;
}

